<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap" rel="stylesheet">
</head>
<body>
<div class="container" style="max-width: 90%; margin: 0 auto;">
    <header style="display: flex; margin-bottom: 10px">
        <img src="cid:attachment.svg" style="width: 94px; height: 151px; margin: 0 48px 0 0" alt="placeholder+image">
        <div class="header_text" style="color: #262626;font-size: 64px; padding:64px 0 0 0;font-family: 'Roboto', sans-serif;" th:text="Здравствуйте, ${user}">
        </div>
    </header>
    <main style="margin: 0; padding: 0 20px; background-color: #E2F1F8">
        <p style="color: #000;font-size: 48px;margin: 0; padding: 20px 0;font-family: 'Roboto', sans-serif;">Ваша заявка отправлена на рассмотрение</p>
        <p style="color: #000;font-size: 48px;margin: 0; padding-bottom: 20px;font-family: 'Roboto', sans-serif;">Информационная система: </p>
        <p style="color: #000;font-size: 48px;margin: 0; padding-bottom: 20px;font-family: 'Roboto', sans-serif;" th:text="${system}"></p>
        <p style="color: #000;font-size: 48px;margin: 0; padding-bottom: 20px;font-family: 'Roboto', sans-serif;">Роли: </p>
        <p th:each="role : ${roles}" th:text="${role}"></p>
        <p style="color: #000;font-size: 48px;margin: 0; padding-bottom: 20px;font-family: 'Roboto', sans-serif;">Дата подачи: </p>
    </main>
</div>
</body>
</html>